#container
  width: 100vw
  height: 100vh
  position: relative
  display: flex

#roomssidebar
  flex: 1
  border-right: 1px solid #B6B6B6

#userssidebar
  flex: 1
  border-right: 1px solid #B6B6B6

main
  flex: 3

#messages-list
  width: 100%
  height: calc(100% - 22px)
  overflow-y: auto

#new-message
  position: fixed
  bottom: 0
  width: 100%
  border-top: 1px solid #B6B6B6
